:root {
  --background: rgb(254, 241, 222);
  --header: #8ee000;
  --headerButton: #7ac70c;
  --activateButton: #ffc715;
  --edit: #1591ea;
  --shadow: #6f6f6f;
  --error: #e53838;
  --fontBlack: #000;
  --fontWhite: #fff;
  --fontGrey: #cfcfcf;
  --input: #fff;
}

.darkMode {
  --background: #232323;
  --header: #588805;
  --headerButton: #416a07;
  --activateButton: #b39b17;
  --edit: #1e88e5;
  --shadow: #111;
  --error: #a52a2a;
  --fontBlack: #fff;
  --fontWhite: #fbfbf1;
  --fontGrey: #a1a1a1;
  --input: #424242;
}

body {
  margin: 0;
  background-color: var(--background);
  transition: background-color 0.2s ease;
  font-family: "Lucida Grande", Verdana, sans-serif;
  overflow: hidden;
}

button {
  padding: 0;
  color: black;
  font-family: "Lucida Grande", Verdana, sans-serif;
  cursor: pointer;
}

input {
  font-size: large;
  font-family: "Lucida Grande", Verdana, sans-serif;
  background-color: var(--input);
  color: var(--fontBlack);
}

textarea {
  background-color: var(--input);
  color: var(--fontBlack);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
